.ma-tabs {
  padding: 100px 0;
  background: #ececec url("../img/design.jpg") 50% no-repeat;
  background-size: cover;
  border-bottom: 2px solid #03a1e4;
  &__title {
    font-family: $primaryFont;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;
    &:before {
      content: url("../img/two.png");
      margin-right: 17px;
    }
  }
  &__description {
    font-family: "RobotoRegular", sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
  }
  &__choice {
    font-family: $primaryFont;
    font-weight: 700;
    text-align: center;
  }
  &__preview {
    height: 250px;
    width: 165px;
    transform: rotate(90deg);
    overflow: hidden;
  }
  &__link {
    font-family: $primaryFont;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    &--last {
      margin-left: 70px;
    }
  }
}

.tabs-left > li {
  float: none;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
  color: #00a0e3;
  background-color: transparent;
}

.tabs-left > li.active > a {
  color: #00a0e3;
}

.tabs-left > li > a {
  margin-right: 0;
  display: block;
  color: #000000;
}

.sideways {
  position: relative;
}

.sideways > li {
  text-align: left;
  margin-bottom: 30px;
}

.sideways.tabs-left > li {
  transform: rotate(-90deg);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
}

.nav > li > a {
  padding: 0;
}

.nav-tabs {
  border: none;
}

.nav-tabs > li > a {
  border: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  border: transparent;
}