@import "_normalize.scss";
@import "_variables.scss";
@import "header/_main.scss";
@import "tabs/_main.scss";
@import "video-reviews/_main.scss";

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url('../fonts/Gilroy/light/gilroy-light.eot');
  src: url('../fonts/Gilroy/light/gilroy-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/light/gilroy-light.woff') format('woff'),
  url('../fonts/Gilroy/light/gilroy-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url('../fonts/Gilroy/extrabold/gilroy-extrabold.eot');
  src: url('../fonts/Gilroy/extrabold/gilroy-extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/extrabold/gilroy-extrabold.woff') format('woff'),
  url('../fonts/Gilroy/extrabold/gilroy-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

body {
  font-size: 18px;
  color: #000000;
}


@media (max-width: 1066px) {
  .navbar-nav {
    &__item {
      margin-left: 15px;
    }
  }
}

@media (max-width: 976px) {
  .navbar-nav {
    &__item {
      margin-left: 5px;
    }
  }
}

@media (max-width: 916px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    width: 31%;
    margin: 0 auto;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    border-top: none;
    box-shadow: none;
  }
  .ma-header {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
  }
  .sideways.tabs-left > li {
    transform: none;
    text-align: center;
    margin: 0 auto 10px;
  }
  .ma-tabs__preview {
    height: 135px;
    width: 100px;
    transform: none;
    margin: 0 auto;
  }
  .ma-tabs__link--last {
    margin-left: 0;
  }
}

@media (max-width: 467px) {
  .navbar-toggle {
    float: none;
    margin: 20px auto 0;
  }
}

@media (max-width: 550px) {
  .ma-header__title {
    margin-top: 100px;
    font-size: 40px;
    line-height: 40px;
  }
  .ma-header__description {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 991px) {
  .ma-header__btn {
    padding-left: 8px;
    padding-right: 8px;
  }
  .ma-slide {
    width: 555px;
    height: 308px;
    margin-top: 30px;
  }
}